fastapi
uvicorn
python-multipart
qdrant-client
llama-index-core
llama-index-embeddings-huggingface
llama-index-readers-file
pymupdf
sentence-transformers
ollama
torch
transformers
accelerate
streamlit
llama-cpp-python
